{#- Renders a GitHub-style alert box with an icon, title, and Markdown body -#}
{#- Derived from this shortcode in Tabi theme: -#}
{#- https://github.com/welpo/tabi/blob/93af295/templates/shortcodes/admonition.html -#}

{%- component ui.alert(type="info", title="", icon="", text="") -%}
{%- set title = title or (type | upper) -%}
{%- set icon = icon or type -%}
{%- set text = text or body -%}
{%- set label_id = get_hash(literal=type ~ title ~ icon ~ text, sha_type=256) | truncate(length=8, end="") -%}
<section class="alert {{ type }}" role="note" aria-labelledby="{{ label_id }}">
<div class="alert-icon alert-icon-{{ icon }}"></div>
<div class="alert-content" role="presentation">
<strong id="{{ label_id }}" class="alert-title" aria-hidden="true">{{ title | safe }}</strong>
{{ text | markdown | safe }}
</div>
</section>
{%- endcomponent ui.alert -%}
